body {
    margin: 0;
    padding: 0;
}
#mainDiv {
    max-width: 1400px;
    width: 100%;
    height: 674px;
    margin: 0 auto;
    margin-top: 156px;
}
#multiImageDiv {
    display: inline-block;
}
#loremTextDiv {
    max-width: 1258px;
    width: 100%;
    height: 159px;
    font-size: 45px;
    margin: 0 auto;
    margin-top: -678px;
    color: #FFFFFF;
}
#loremText {
    margin: 0;
    margin-top: 39px;
}
#middleTextDiv {
    max-width: 1073px;
    width: 100%;
    height: 270px;
    margin: 0 auto;
    margin-top: 115px;
    padding: 40px 32px;
}
#boldTextDiv {
    max-width: 971px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 24px;
}
#boldText {
    text-align: center;
    margin: 0;
    font-size: 60px;
    font-weight: 700;
}
#paraghTextDiv {
    max-width: 1073px;
    width: 100%;
    height: 88px;
    margin-bottom: 24px;
}
#paraghText {
    margin: 0;
    font-size: 32px;
    color: #535862;
}
#formDiv {
    max-width: 488px;
    width: 100%;
    height: 74px;
    margin: 0 auto;
}
#inputEmailDiv {
    max-width: 345px;
    width: 100%;
    height: 48px;
    border: 1px solid #D5D7DA;
    border-radius: 8px;
}
form {
    max-width: 345px;
    width: 100%;
    height: 48px;
}
#inputEmail {
    border: none;
    outline: none;
    max-width: 317px;
    width: 100%;
    height: 24px;
    margin: 12px 14px;
}
#inputEmail::placeholder {
    font-size: 24px;
    vertical-align: middle;
}
#formDownTextDiv {
    max-width: 345px;
    width: 100%;
    height: 20px;
    margin-top: 8px;
    display: inline-block;
    vertical-align: top;
}
#formDownText {
    font-size: 14px;
    color: #535862;
    margin: 0;
}
#buttonDiv {
    max-width: 119px;
    width: 100%;
    height: 48px;
    display: inline-block;
    margin-top: -50px;
    margin-left: 20px;
    vertical-align: top;
}
#subscribeButton {
    border: 2px solid white;
    border-radius: 8px;
    background-color: #007CB8;
    padding: 12px 18px;
}
#subscribeAnchor {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;

}